.header{
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

.error{
    color: red;
    text-align: center;
    font-weight: 900;
    text-shadow: white  0px 0px 10px;
}